{% extends 'base.html' %}
{% load static %}
{% load add_class %}
{% load filter_date %}
{% block titlePage %} Detalhes do Aluno {% endblock %}
{% block content %}

{% if request.user.is_staff %}
    <div class="container-fluid">
        <div class="row">
            {% include 'partials/menu-lateral-dash/menu-lateral.html' %}
            <div class="col-12 col-lg-10" id="content-dashboard">
                {% include 'partials/menu-topo-dash/topo.html' %}
                <section class="container-fluid px-0 px-sm-2">
                    <div class="row">
                        <div class="col-12 pt-3 pt-md-5" id="sectionDadosAluno">
                            <div class="row px-0 align-items-center flex-wrap">
                                <div class="col-md-8 col-lg-9 d-flex align-items-center">
                                    <div class="d-flex flex-column">
                                        <h2 class="mb-2 mb-md-3 text-white h4">{{ aluno.nome }} </h2>
                                        <ul class="list-group list-group-horizontal text-white d-block font-italic">
                                            <li class="list-group-item border-0 p-0 bg-transparent d-inline-block">
                                                {{aluno.idade}} anos
                                            </li>
                                            <li class="list-group-item border-0 p-0 bg-transparent d-inline-block">
                                               {% for altura in altura_aluno  %} {{altura.medida_altura}} {% endfor %} de altura
                                            </li>
                                            <li class="list-group-item border-0 p-0 bg-transparent d-inline-block">
                                                {% if aluno.sexo == 'F' %}
                                                    Feminino
                                                {% else %}
                                                    Masculino
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 pt-3 pt-md-0 d-flex justify-content-md-end">
                                     <a href="{% url 'cadastrar_avaliacao_fisica' %}" class="btn btn-base-yellow">Adicionar avaliação</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" data-section="atalhos" id="alunos_details">
                            <div class="row px-0 pt-4">
                                <div class="col-md-6 col-lg-5 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                        <h2 class="mb-3 h5 text-blue">Selecione o filtro</h2>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            {{filtro_de_musculos}}
                                            <input type="hidden" id="idAlunoFiltro" name="{{ aluno.id }}" value="{{aluno.id}}">
                                            <a href="#" id="filtar_medidas" onClick="FiltrarMedidas($(this))" class="btn btn-base-purple-light mt-3">Filtrar</a>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-7 mb-4">
                                    <div class="card">
                                        <div class="card-header d-flex flex-wrap align-items-center justify-content-between">
                                            <div class="title d-flex align-items-center">
                                                <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                                <h2 class="mb-0 h5">Medidas do músculo</h2>
                                            </div>
                                            <a style="cursor:pointer" onClick="criaModal('Medidas do músculo', 'chartsMedidas')">
                                                <i class="fas fa-expand"></i>
                                            </a>   
                                        </div>
                                        <div class="card-body" id="evolucaoMedidas">
                                            <canvas id="chartsMedidas"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 mb-4">
                                    <div class="card">
                                        <div class="card-header d-flex flex-wrap align-items-center justify-content-between">
                                            <div class="title d-flex align-items-center">
                                                <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                                <h2 class="mb-0 h5">Porcentagem de gordura</h2>
                                            </div>
                                            <a style="cursor:pointer" onClick="criaModal('Porcentagem de gordura', 'chartPercentualDeGordura')"><i class="fas fa-expand"></i></a>  
                                        </div>
                                        <div class="card-body" id="body-chart-gordura">
                                            <p class="mb-2 text-center small">Sua classificação está: <span id="classificacaoPercentualGordura"></span> </p>
                                            <canvas id="chartPercentualDeGordura"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 mb-4">
                                    <div class="card">
                                        <div class="card-header d-flex flex-wrap align-items-center justify-content-between">
                                            <div class="title d-flex align-items-center">
                                                <img src="{% static 'img/icon-user-run.svg' %}" class="img-fluid pr-3" alt="User">
                                                <h2 class="mb-0 h5">Peso</h2>
                                            </div>
                                            <a style="cursor:pointer" onClick="criaModal('Peso', 'chartPeso')"><i class="fas fa-expand"></i></a>  
                                        </div>
                                        <div class="card-body" id="body-chart-peso">
                                            <canvas id="chartPeso"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endif %}
<!-- Large modal -->
<div class="modal fade modal-lg-charts" tabindex="-1" role="dialog" aria-labelledby="modal-lg-charts" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="h5 mb-0 title-modal-header"></span>
        <button type="button" onClick="criaChartsAgain($(this))" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/libs/charts.min.js' %}"></script>
<script src="{% static 'js/aluno/charts.js' %}"></script>
<script src="{% static 'js/usuarios.js' %}"></script>
<script>
    $(document).ready(() => {      

        // For dos valores do banco para criação dos gráficos
        // Charts PESO
        let dias_charts_peso = [{% for item in peso %} '{{item.get_created}}', {% endfor %}]
        let medidas_charts_peso = [{%for item in peso %}{{item.medida_peso|stringformat:'f'}},{% endfor %}]

        // Porcentagem de Gordura 
        let dias_charts_porcentagem_de_gordura = [{% for item in percentual_de_gordura %} '{{item.get_created}}', {% endfor %}]
        let medidas_charts_porcentagem_de_gordura = [{%for item in percentual_de_gordura %} {{item.percentual_gordura|stringformat:'f'}},{% endfor %}]

        // Medidas dos músculo
        let dias_charts_medida_musculo = [{% for item in entrys  %} '{{item.created_at|filter_date}}', {% endfor %}]
        let medida_direita = [{% for i in entrys %} {{i.medida_biceps_direito|stringformat:'f'}}, {% endfor %}]
        let medida_esquerda = [{% for i in entrys %} {{i.medida_biceps_esquerdo|stringformat:'f'}}, {% endfor %}]

        // Funções
        cria_charts(dias_charts_peso, medidas_charts_peso, 'chartPeso', 'kg');
        cria_charts(dias_charts_porcentagem_de_gordura, medidas_charts_porcentagem_de_gordura, 'chartPercentualDeGordura', '%');
        chartMedidas(dias_charts_medida_musculo, medida_direita, medida_esquerda, 'chartsMedidas')
        getEnquadramentoPercentualGordura()   
        
    });

</script>
{% endblock scripts %}