{% extends 'base.html' %}
{% load static %}
{% load add_class %}
{% block titlePage %}
Senha alterada com sucesso
{%endblock%}

{% block content %}
<div class="container-fluid" id="esqueci-minha-senha">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-7 col-xl-6 mx-auto">
        <img src="{% static 'img/logotipo-cia-life.svg' %}" alt="Logotipo Cia Life"
          class="mb-5 img-fluid mx-auto d-flex">
        <div class="bg-white py-3 py-lg-4 px-4 rounded" id="mosaic">
          <h1 class="mb-0 pb-2 h5 title">Senha alterada com sucesso</h1>
          <p  class="mb-3 subtitle text-dark">Agora que alterou sua senha, volte a página de login para acessar o sistema.</p>
          <a href="{% url 'logar' %}" class="btn btn-base-blue">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/libs/jqueryMask.min.js' %}"> </script>
<script src="{% static 'js/libs/sweetalert.min.js' %}"> </script>
{% endblock %}