{% extends 'base.html' %}
{% load static %}
{% load add_class %}
{% block titlePage %}
Alterar Senha
{%endblock%}

{% block content %}
<div class="container-fluid" id="esqueci-minha-senha">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 col-xl-6 mx-auto">
                <img src="{% static 'img/logotipo-cia-life.svg' %}" alt="Logotipo Cia Life" class="mb-5 img-fluid mx-auto d-flex">
                <div class="bg-white py-3 py-lg-4 px-4 rounded" id="mosaic">
                  {% if validlink %}
                    <h1 class="mb-0 pb-2 h2 title">Alterar Senha</h1>
                    <p class="mb-0 subtitle">Preencha os dados para alterar sua senha</p>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="btn btn-base-blue">Alterar senha</button>
                    </form>
                  {% else %}
                    <h1 class="mb-0 pb-2 h2 title">Link inválido</h1>
                    <p class="mb-0 subtitle text-dark">The password reset link was invalid, possibly because it has already been used.
                      Please request a new password reset.</p>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/libs/jqueryMask.min.js' %}"> </script>
<script src="{% static 'js/libs/sweetalert.min.js' %}"> </script>
{% endblock %}
